.apx-title-section{
    height : 100vh ;
    width : 100vw ;
    /* background-image : linear-gradient(45deg , #A2E0E0 , rgb(19, 157, 192) ) ; */
    /* background-image: url("https://content3.jdmagicbox.com/comp/pune/a7/020pxx20.xx20.170508121540.u6a7/catalogue/systech-management-consulting-chinchwad-pune-iso-certification-consultants-p1bqs.jpg") ; */
    background-size : cover ;
    background-attachment: fixed ;
    background-position: center ;
    opacity: 0.8 ;
    background-color : black ;
    text-align: center ;
}

.apx-title-section h1{
    position: relative ;
    top : 45% ;
    width : max-content ;
    margin-left : auto ;
    margin-right : auto ;
    font-size: 8vw ;
    font-weight : bold ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color :rgb(0, 0, 0) ;
}


.apx-title-section h4{
    position: relative ;
    top : 45% ;
    width : max-content ;
    margin-left : auto ;
    margin-right : auto ;
    font-size: 3vw ;
    font-weight : bold ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color :rgb(255, 255, 255) ;
}

.apx-title-section button{
    position: relative ;
    top : 50vh ;
    width : max-content ;
    margin-left : auto ;
    margin-right : auto ;
    font-size: 23px ;
    font-weight : bold ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    border-radius: 25px ;
    padding-bottom: 15px ;
}


@media only screen and (max-width : 600px){
    .apx-title-section h1{
        font-size: 15vw ;
    }
    .apx-title-section h4{
        font-size: 5vw ;
    }
}

.apx-fact-box{
    background-color : rgb(59, 175, 243) !important;
    box-shadow: 1px 1px 5px rgb(78, 78, 78) ;
    transition: 0.7s ;
}

.apx-fact-box:hover{
    cursor: pointer;
    transform: scale(1.04) ;
    transition: 0.7s ;
    box-shadow: 1px 1px 10px rgb(26, 25, 25) ;
}


@media only screen and (max-width : 980px){
    .apx-nav-bar{
        background-color : whitesmoke !important;
        position : fixed !important;
        z-index: 80 !important;
        box-shadow : 1px 1px 5px black !important;
    }
    
}

.apx-nav-bar{
    background-color: white !important ;
    z-index: 80 !important;
    opacity: 1 !important;  
    width : 100% !important;
}


.apx-nav-item{
    color : black !important;
}


.apx-contact-button{
    background-color : black ;
    opacity: 0.8 ;
    border : none !important;
    box-shadow: 1px 1px 2px rgb(65, 82, 78) ;
    color : white !important;
    transition: 0.8s ;
}

.apx-contact-button:hover{
    background-color : rgb(78, 78, 78) !important;
    box-shadow: 1px 1px 5px rgb(65, 82, 78) ;

    transition: 0.8s ;
}